{% extends 'accounts/base_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{block.super}} Confirm Your Passwrod
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col">
    </div>

    <div class="col-6">
        <div class="card text-left">
            <div class="card-body">
                <h4 class="card-title">Create an account</h4>
                <form method="POST">
                    {% csrf_token %}
                        {{form|crispy}}
        
                    <input type="submit" value = "Create an account" class = "btn form-control btn-dark">
                  
                </form>
        
                <div class="card-footer">
                    <div class="card-text text-center text-muted">
                        Already have an account ? <a href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col">

    </div>
</div>
{% endblock content %}