<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <link rel="shortcut icon" href="{% static 'Icons/iconfinder_Html_669948.png' %}">
    
    <title>
        {% block title %}
            Django Borads -
        {% endblock title %}
        
    </title>
</head>
<body>

    {% include "Includes/nav.html" %}

    <div class="container mt-5">
        {% block content %}

        {% endblock content %}
    </div>
    
    <script src="{% static 'JS/jquery-3.5.1.slim.min.js' %} "></script>
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/popper.min.js' %} "></script>
</body>
</html>