
<nav class="navbar bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Django Boards</a> 
    
    
      
      {% if user.is_authenticated %}
        
      <div class="form-inline">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
      </div>
      {% else %}

        <div class="form-inline">
          <a href="{% url 'login'%}" class="btn btn-outline-secondary">Login</a>
          <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Signup</a>
        </div>
      {% endif %}

    </div>
</nav>